body{
	width: 100%;
	height: 100%;
	background: black;

}
.head{
    width: 100%;
   height: 600px;
  /*  background-color: black;*/
    float: left;
    
}
.clear{
	clear: both;
}
.rain{
	width: 1px;
    height: 8px;
    background-color: black;
    animation:example 2s infinite;
    animation-duration: 1.6s;
    animation-delay: 1s;
    margin: 5px;
    float: left;
    position: relative;
}
.rain1{
	width: 1px;
    height: 8px;
    background-color: black;
    animation:example 2s infinite;
    animation-duration: 1.7s;
    animation-delay: 1s;
    float: left;
    position: relative;
}
.rain2{
	width: 1px;
    height: 8px;
    background-color: black;
    animation:example 2s infinite;
    animation-duration: 1.2s;
    animation-delay: 1s;
    float: left;
    position: relative;
}
.rain3{
	width: 1px;
    height: 8px;
    background-color: black;
    animation:example 2s infinite;
    animation-duration: 1.1s;
    animation-delay: 1s;
    float: left;
    position: relative;
}

@keyframes example {
    0%   {background-color:black; left:0px; top:0px;}
    
    75%  {background-color:white; left:0px; top:900px;}
}

./*row{
	position: relative;

width: 100%;
height: 900px;
}*/
